.header {
  position:fixed;
  top:0;
  border-bottom: 1px solid gray;
  padding: 3px 0 3px 0;
  width:98%;
}

body * {
  font-family: Raleway;
}

.icon {
  font-size:0.8em;
}

.mainContent {
  margin-top:6%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.conversationContainer {
  padding: 2% 2% 2% 3%;
  width: 40%;
  border: 1px solid grey;
  border-radius: 5px;
  height: 85vh;
  overflow: scroll;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
  opacity: 1; /* Firefox */
}

.gallery {
  padding-top:1%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height:10vh;
  opacity:0;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  visibility: hidden; 
  transition: all 2s;
}

.gallery-show {
  padding-top:1%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height:85vh;
  opacity:1;
  visibility: visible; 
  transition: all 2s;
}

.imgList {
  display: flex;
  flex-direction: column;
  height:100%;
}

.picture {
  width: 0%;
  opacity: 0;
  height: 30%;
  object-fit: cover;
  transition: opacity 1.8s;
  margin: 2px;
  border-radius: 5%;
}

.picture-0 {
  opacity: 1;
  width: 50%;
  /* transform: translateX(50px); */
  transition: all 1.8s ease-in;
}

.picture-1 {
  opacity: 1;
  width: 50%;
  transform: translateX(50px);
  transition: all 1.8s;
  transition-timing-function: cubic-bezier(.04,1.02,1,1.18);
}

.picture-2 {
  opacity: 1;
  width: 50%;
  transform: translateX(100px);  
  transition: all 1.8s ease-out;
}

.user {
  color: rgba(83, 31, 131, 0.795);
  background: rgb(197, 197, 245);
  padding: 7px;
  position: relative;
  border-radius: .4em;
  list-style-type: none;
  padding-left:3%;
}

.user:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: rgb(197, 197, 245);
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.bot {
  color: rgb(38, 105, 29);
  background: rgb(187, 228, 169);
  padding: 7px;
  border-radius: .4em;
  position: relative;
  list-style-type: none;
  padding-left:3%;

}

.bot:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: rgb(187, 228, 169);
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}
/* CSS Speech bubbles curtesy of https://leaverou.github.io/bubbly/ */

.btn {
  background: rgba(83, 31, 131, 0.795);
  color: rgb(197, 197, 245);;
  margin: 5px;
  height:6vh;
  font-size:1.3rem;
}

.btn:hover {
  background: rgb(38, 105, 29);
  color: rgb(187, 228, 169);
}